body{
  	background: #000;
  	font-size: 0;
  	font-family: "Inter UI", sans-serif;
  	letter-spacing: -0.2vh;
  	line-height: 1;
  	overflow: hidden;
}

h1{
	display: block;
	margin: 0;
	color: #fff;
	font-size: 25vh;
}